/* boot/custom_style.css */

.content-body {
  /* background: #F0E7E7; */
  }

.navbar {
	font-size: 14px;
	background: #fff;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: 1px solid #d6d6d6;
	box-shadow: 0 0 4px rgba(0,0,0,.1);
}

.post-list {
  list-style-type: none;
  }

a {
  color: unset;
}
